#root {
    .signin-page {

        &>.signin-section {
            padding-top: 90px;

            &>.signin-wrapper {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                &>.title {
                    font-size: 39px;
                    font-weight: 700;

                    &>.color-text {
                        color: rgba(22, 163, 74, 1);
                    }
                }

                &>.link-text {
                    font-size: 17px;
                    margin-top: 11px;

                    &>.link-color {
                        color: rgba(22, 163, 74, 1);
                    }
                }
            }
        }
    }
}